---
import Layout from "@/layouts/Layout.astro";
import Search from "@/components/Search.astro";
// import Favorites from "@/components/Favorites.astro";
---

<Layout title="Astro">
    <div class="p-8">
        <Search />
        <!-- <Favorites /> -->
    </div>
</Layout>
