---

---

<footer
    class="absolute bottom-0 w-full flex flex-col justify-center items-center p-5 bg-white/5 border-t border-white/10 text-white/50"
>
    <h1>EteSearch &copy;{new Date().getFullYear()}</h1>
    <p>Desarrollado por Juan Cruz "juqndev" Ahijado - Artz Studios &copy;</p>
</footer>
